<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
    crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
   


    {% include 'partials/_navbar.html' %}
    
    <div class="container mt-3">
        
        <div class="col-3">
            <div class="list-group">
                <a href="{%url 'Eyüpsultan'%}" class="list-group-item list-group-item-action" aria-current="true">
                    Eyüpsultan
                </a>
                <a href="{%url 'Pendik'%}" class="list-group-item list-group-item-action" aria-current="true">
                    Pendik
                </a>
                <a href="{%url 'Emirgan'%}" class="list-group-item list-group-item-action" aria-current="true">
                    Emirgan
                </a>
                <a href="{%url 'Taksim'%}" class="list-group-item list-group-item-action" aria-current="true">
                    Taksim
                </a>
                <a href="{%url 'Kadıköy'%}" class="list-group-item list-group-item-action" aria-current="true">
                    Kadıköy
                </a>
                <a href="{%url 'Karaköy'%}" class="list-group-item list-group-item-action" aria-current="true">
                    Karaköy
                </a>
                <a href="{%url 'Beşiktaş'%}" class="list-group-item list-group-item-action" aria-current="true">
                    Beşiktaş
                </a>
                <a href="{%url 'Ortaköy'%}" class="list-group-item list-group-item-action" aria-current="true">
                    Ortaköy
                </a>
                <a href="{%url 'Üsküdar'%}" class="list-group-item list-group-item-action" aria-current="true">
                    Üsküdar
                </a>
                <a href="{%url 'Kuzguncuk'%}" class="list-group-item list-group-item-action" aria-current="true">
                    Kuzguncuk
                </a>                  
            </div>
        </div>
        
    </div>
    




</body>
</html>
